div.container
	div.col-md-12

		h1 CanYouPlay Status Page
		ul#systemdetails
			li req.session.auth - #{auth}

		if auth
			h3 Authenticated User Details
			ul#userDetails
				li First Name - #{user.firstname}
				li Last Name - #{user.lastname}
				li Email - #{user.email}
				li Mobile - #{user.mobile}
				li ID - #{user._id}
				li Password - #{user.password}
				li Member Of Team - #{user.member_of_team}
				li Team Owner - #{user.is_owner}
				li Date Created = #{user.created}
		else
			h3 User Logged In = False